:root{
    --yellow-gradient: linear-gradient(180deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
    --dim-white: #eee;
    --font-size-medium: 20px;
    --font-size-large: 30px;
    --font-size-x-large: 42px;
    --font-size-xx-large: 62px;
    --font-family-button: 'bebas neue';
  }

  *{
    box-sizing: border-box;
  }
  /* -------tags--------- */

body {
  margin: 0;
}

a{
    text-decoration: none;
}

ul{
  list-style: none;
}

button {
  font-family: var(--font-family-button);
}

/* --------header -------- */
.header__container {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-header, .mid-header, .bottom-header {
  /* position: relative; */
padding: 0 20px;
}

.bottom-header{
  position: relative;
}

.top-header {
  background: var(--dim-white);
  height: 40px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.text-links {
  display: flex;
}

.top-header a,
.top-header button {
  display: inline-block;
  /* background: #462ecf; */
  border: none;
  text-decoration: none;
  padding: 10px;
  color: black;
}

.top-header .btn-links button {
  height: 100%;
}


/* .arrow{
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background: #fff;
    position: relative;
    margin-top: 20px;
    display: none;
    z-index: 1;
} */

.dropdown-content {
  /* background: #fff; */
  /* border: 1px solid #000; */
  display: block;
  /* margin: 0; */
  list-style: none;
  position: absolute;
  visibility: hidden;
  transform: translateY(30px);
  transition: transform 0.3s;
  z-index: 1;
  width: 420px;
}

.dropdown-content a {
  display: block;
}


.show-left {

  right: 0;
}

.links-card {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 30px;
}

.links-card a{
  color: #363636 !important;
}

.links-card:last-child{
  padding-bottom: 30px;
}

.links-card::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 20px;
  background: #ffffff;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
}

.show-left .links-card::before{
  left: unset;
  right: 20px;
}



/* ------------- mid header ------------------- */

.mid-header{
    background: #9d2235;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    /* margin: 0 10px; */
}

.mid-header .mid-left{
  display: flex;
  align-items: center;
}

.form__search-icon{
  width: 8%;
  height: 8%;
  color: #fff;
}

.header__label{
  visibility: hidden;
}

.header__toggle{
  /* background: #363636; */
    position:relative;
    overflow: hidden;
}

.header__toggle a{
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 6px;
}

.header__logo{
    /* background: #eee; */
    display: inline-block;
    margin: 45px 20px;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.header__logo img{
  width: 100%;
  
}

/* --------- bottom-header --------- */
.bottom-header {
    margin-top: 0.5px;
    background: #9d2235;
    display: flex;
    justify-content: space-around;
    
}

.bottom-header > span{
    position: relative;
    padding: 25px 0;
    /* background: #eee; */
}

.bottom-header > span > a{
    color: #fff;
    font-family: var(--font-family-button);
    font-size: var(--font-size-large);
}

.bottom-header ul{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.bottom-header ul{
  padding: 50px;
}

/* ------main content ------- */
.content__container{
  /* background: var(--dim-white); */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  
}

/* -----content header ---- */
.content__header{
  position: relative;
  height: 100%;
  overflow: hidden;
}

.content__header > p{
  position: absolute;
}

.content__header > p{
  background: rgba( 0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 4em;
  font-weight: bold;
  color: #fff;
  font-family: var(--font-family-button);
}

.content__header__buttons{
  /* background: #363636; */
  position: relative;
  top: -40px;
  padding-right: 4rem;
  text-align: end;
}

.content__header__buttons button{
  border: none;
  padding: 20px 30px;
  font-size: var(--font-size-large);
  background: #9d2235;
  color: #fff;
}

.header__video{
  position: relative;
  width: 100%;
}


/* -------redefined----------- */
.container__redefined{
  display: flex;
  flex-direction: column;
}

.container__redefined div{
  display: flex;
  justify-content: center;
}

.topic{
  font-family: var(--font-family-button);
  font-size: var(--font-size-xx-large);
  text-decoration: underline;
  text-decoration-color: #9d2235;
  text-underline-offset: 10px;
}

.container__redefined > div {
  display: flex;
  margin: 50px;
}

.container__redefined > div img{
  /* border:#363636 solid 1px; */
  /* display: inline-block; */
  width: 500px;

}

.redefined-content {
  border: #9d2235 solid 1px;
  width: 500px;
  height: auto;
  padding: 30px 30px 30px 70px;
  position: relative;
  top: 45px;
  right: 45px;
  z-index: 1;
  /* pointer-events: none; */
}

/* .redefined-content a{
  pointer-events: all; 
} */



.redefined-content button{
  font-family: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background: #9d2235;
  color: #fff;
  font-size: var(--font-size-large);
  border: none;
  /* pointer-events: all; */
}



.c-2{
  right: 0;
} 

.c-2 ~ img{
  position: relative;
  left: -45px;
}


/* -------------level story ------------ */
.container__level-story > div{
  display: flex;
  justify-content: center;
}

.level-story{
  display: flex;
}

.container__level-story > div > a{
  flex: 1;
  position: relative;
  transition: all 0.5s;
  /* background: #9d2235; */
}

.story-1{
  height: 400px;
  /* border: #363636 solid 1px; */
}

.story-2{
  height: 300px;
}

.level-story-content{
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba( 0, 0, 0, 0.6);

}

.level-story-content div{
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 300px;
}


.story-topic{
  margin: 0;
  font-family: var(--font-family-button);
  font-size: var(--font-size-large);
}

.story{
  display: none;
}


/* --------------explore----------------- */
.container__explore{
  background: var(--dim-white);
  padding-bottom: 100px;
}

.container__explore .topic-summary{
  /* background: #9d2235; */
  width: 40%;
  margin: auto;
  text-align: center;
}

.container__explore .topic{
  margin-bottom: 0;
}


.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  column-gap: 10px;
  padding-top: 30px;
}



.explore-link{
  width: 20vw;
  height: 480px;
  /* background: #9d2235; */
  /* border: #000000 solid 1px; */
  position: relative;
  
}

.explore-link-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba( 0, 0, 0, 0.2);
}

/* .explore-link div p{
  position: absolute;
  bottom: 0;
} */

.explore-link-wrapper > div{
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: var(--font-size-medium);
  color: #fff;
}

.explore-link-content{
  height: 0;
  visibility: hidden;
  transform: translateY(20px);
  
}

.explore-link-content p::first-line{
  text-decoration: overline #ecd505;
  text-underline-offset: 15px;
}

.explore-link-title{
  font-family: var(--font-family-button);
  text-decoration: none;
}


/* ---------youtube------------------- */
.container__youtube{
  /* height: 70vh; */
  padding-bottom: 200px;
}

.container__youtube div{
  display: flex;
  justify-content: center;
}


/* -------------stats-------------------- */
.container__stats {
  background: #1f1f1f;
  color: var(--dim-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.stat-head{
  /* background: #ecd505; */
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
}

.stat-head::before{
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #ffbb00;
}

.stat-head span{
  /* background: #363636; */
  text-align: center;
  padding: 80px 120px 40px;
}

.stat-head span p{
  margin: 0;
  font-size: 1.6em;
  font-family: var(--font-family-button);
}

.stat-head .active{
  position: relative;
}

.stat-head .active::after{
  content: "";
  background: #ffbb00;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  bottom: 0;

}

.stat-head span p:first-child{
  font-size: 7em;
}

.stat-mid{
  /* background: #363636; */
  margin: 50px 0;
}

.stat-mid a{
  text-decoration: none;
  color: var(--dim-white);
  font-size: xx-large;
}

.stat-mid a::after{
  content: "  |  ";
  font-size:  3rem;
}

.stat-mid a:last-child::after{
  content: "";
}

.stat-foot{
  /* background: #9d2235; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.stat-foot button{
  font-size: 1.7rem;
  padding: 10px;
  background: transparent;
  color: var(--dim-white);
  border-color: #ffbb00;
}

.stat-foot button::before{
  content: "\2192  ";
  color: #ffbb00;
}


/* --------------footer------------- */
.footer{
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  color: #eee;
}

.footer__top{
  background: #1f1f1f;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 10px;
}

.footer__top .top-mid{
  margin: 0 5vw;
}

.footer__top .address li{
  margin-bottom: 15px;
}

.footer__top .address li:last-child{
  margin-top: 30px;
}


.footer .logo-svg{
  width: 250px;
}

.feature-links{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  font-family: var(--font-family-button);
  font-size: larger;
}

.feature-links li{
  margin: 0;
}

.footer a{
  color: #eee;
}

.feature-links li::after{
  content: "";
  background: #eee;
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.footer__top .partnership{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__top .partnership div{
  margin-right: 20px;
}

.media-logos{
  display: flex;
  justify-content: space-between;
}

.media-logos li{
  width: 25px;
}

.footer__bottom{
  background: #000;
  padding: 50px 200px;
}












/* -------------hover------------- */

.top-header button:hover {
  background: var(--yellow-gradient);
  cursor: pointer;
}

.staff-dropdown:hover > .dropdown-content,
.alumni-dropdown:hover > .dropdown-content {
  
  visibility: visible;
  transform: translate(0);
}


.dropdown-content a:hover{
  font-weight: 600;
}

.header__toggle:hover a{
  opacity: 0.5;
}

.header__toggle a:hover {
  opacity: 1 !important;
  font-weight: 500;
}

.bottom-header span:hover .dropdown-content{
  top: 100%;
  visibility: visible;
  transform: translate(0);
}

.bottom-header > span > a:hover{
  text-decoration: underline;
  text-underline-offset: 8px;
}

.content__header__buttons button:hover{
  background: #363636;
  cursor: pointer;
}

.redefined-content button:hover{
  background: #363636 !important;
  cursor: pointer;
}

.container__level-story > div > a:hover .story{
  display: inline-block;
  transform: translate(0);
}

.container__level-story > div > a:hover{
  /* transform: scale(270); */
  flex: 1.5;
}

.container__level-story > div > a:hover .level-story-content{
  background: rgba( 0, 0, 0, 0.4);
}

.container__level-story > div > a:hover .story-topic{
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgb(230, 188, 2);
}

.explore-link:hover .explore-link-wrapper{
  background: rgba( 0, 0, 0, 0.6);
  transition: all 0.5s;
}

.explore-link:hover {
  transition: all 0.5s;
}

.explore-link:hover .explore-link-content{
  height: auto;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.5s;
}

.stat-foot button:hover{
  background: #ffbb00;
  color: #363636;
}

.stat-foot button:hover::before{
  color: #363636;
}

.stat-mid a:hover{
  text-decoration: underline #ffbb00;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.footer a:hover{
  color: #ffbb00;
}

.footer a:hover svg g{
  fill: #ffbb00;
}